
// google scroll customization

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track-piece { background: transparent; }

::-webkit-scrollbar-thumb {
  background: rgba(#f0f1f2, 0.7);
  border-radius: 50px 50px;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;

  &::selection {
    background: $selectable;
  }
}

html {
  scrollbar-color: rgba(#f0f1f2, 0.9) rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
}

body {
  font-family: $font-family-base;
  overflow: overlay;
}

.link {
  color: $link-color;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    color: $link-hover-color;
  }
}

.h6,
h6 {
  font-size: rem(12px);
  line-height: 1.25;
}

.h5,
h5 {
  font-size: rem(14px);
  line-height: 1.25;
}

.h4,
h4 {
  font-size: rem(16px);
  line-height: 1.25;
}

.h3,
h3 {
  font-size: rem(18px);
  line-height: 1.25;
}

.h2,
h2 {
  font-size: rem(24px);
  line-height: 1.25;
}

.h1,
h1 {
  font-size: 0;
  line-height: 0;
}
