
// google scroll customization

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track-piece { background: transparent; }

::-webkit-scrollbar-thumb {
  background: rgba(#f0f1f2, 0.7);
  border-radius: 50px 50px;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;

  &::selection {
    @apply bg-primary-lighten;
  }
}

html {
  scrollbar-color: rgba(#f0f1f2, 0.9) rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
}

.absolute-center {
  @include absolute-center;
}
