
// google scroll customization

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track-piece { background: transparent; }

::-webkit-scrollbar-thumb {
  background: rgba(#f0f1f2, 0.7);
  border-radius: 50px 50px;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;

  &::selection {
    @apply bg-primary-lighten;
  }
}

html {
  scrollbar-color: rgba(#f0f1f2, 0.9) rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;

  scroll-behavior: smooth;
}

.absolute-center {
  @include absolute-center;
}

.z-tooltip {
  position: fixed;

  background: theme('colors.black.lightest');
  color: theme('colors.white');

  max-width: rem(160px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  z-index: 999;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

.input-field {
  @apply mb-8;
}

.input--mb-0 {
  @apply mb-0;
}

strong {
  @apply text-primary;
}

.default-button {
  @apply p-4;
}
