@import "functions.scss";

$dark-ligten: #292825; // mb #242320;
$dark: #1a1916;
$white: #e4e4e4;

$placeholder: #b2b2b2;

$safety: #2e7d32;
$message: #2563eb;
$danger: #fbc02d;

$primary: #d12525;
$secondary: #1dc6c6;
